{
  "presets": [ "react", "es2015" ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-es2015-modules-umd"
  ]
}
