{
  "presets": [ ["wtw-im", {
    "extractFormatMessage": false,
    "transformFormatMessage": false
  }] ],
  "plugins": [
    "transform-runtime",
    "transform-export-extensions",
  ],
  "env": {
    "es6": {
      "presets": [ ["wtw-im", {
        "env": {
          "modules": false
        },
        "extractFormatMessage": false,
        "transformFormatMessage": false
      }] ],
      "plugins": [
        "transform-runtime",
        "transform-export-extensions",
      ],
    }
  }
}
