{
  "extends": "exchange-solutions",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true
    }
  }
}
