{
  "extends":[
    "exchange-solutions",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "max-len": 0,
    "jsx-a11y/img-uses-alt": 0,
    "jsx-a11y/redundant-alt": 0,
    "jsx-a11y/valid-aria-role": 0
  }
}
