{
  "extends": "exchange-solutions",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "max-len": 0
  }
}
