name: CI
on:
  pull_request_target:
  push:
    branches:
      - main
jobs:
  test:
    name: Test with Node v${{matrix.node}}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/es-components
    strategy:
      matrix:
        node: [lts/*, node]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}
          ref: ${{ github.head_ref || github.ref }}

      - name: Use Node Version
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci # runs installs and builds themes
          cd packages/es-components
          npm uninstall es-components-via-theme # uninstall unbuilt theme
          npm install -D ../es-components-via-theme # reinstall built theme

      - name: Run Lint
        working-directory: packages/es-components
        if: ${{
          github.ref != 'refs/heads/main' &&
          github.ref != 'refs/heads/pre-prod' }}
        continue-on-error: true
        run: |
          npx eslint --output-file eslint_report.json --format json .

      - name: Annotate JS Linting Results
        if: ${{ matrix.node == 16 &&
          github.ref != 'refs/heads/main' &&
          github.ref != 'refs/heads/pre-prod' }}
        uses: ataylorme/eslint-annotate-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          report-json: packages/es-components/eslint_report.json

      - name: Run Tests
        run: |
          npm test

  npm:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [test]
    name: Publish NPM Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}
          ref: main
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci

      - name: Set Commitbot Identity
        run: |
          git config user.name "ES-Components Lerna Publish Bot"
          git config user.email "es-components-bot@wtw.org"

      - name: Lerna Publish Latest
        run: |
          echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > ~/.npmrc
          npx lerna publish --conventional-commits --changelog-preset @aabenoja/conventional-changelog-eslint-lerna --conventional-graduate --yes

  npm_prerelease:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [test, npm]
    name: Pre-Prod Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}
          ref: pre-prod
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci

      - name: Set Commitbot Identity
        run: |
          git config user.name "ES-Components Lerna Publish Bot"
          git config user.email "es-components-bot@wtw.org"

      - name: Merge main to pre-prod
        run: |
          git merge --no-verify -Xtheirs --commit origin/main -m "Merging main into pre-prod [skip-release]"
          # abort if failed merge
          git merge --abort || true
          git push origin pre-prod

      # This is so that we always update the pre-prod dist tag with main when we merge.
      # (Pre-prod can be ahead of main, but never behind.)
      - name: Lerna Publish Pre-Prod
        run: |
          echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > ~/.npmrc
          npx lerna publish --conventional-commits --changelog-preset @aabenoja/conventional-changelog-eslint-lerna --conventional-prerelease --dist-tag pre-prod --preid pre-prod --allow-branch pre-prod --yes

  docs:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: npm
    name: Publish Docs to GH Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}
          ref: main
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci

      - name: Set Commitbot Identity
        run: |
          git config user.name "ES-Components Lerna Publish Bot"
          git config user.email "es-components-bot@wtw.org"

      - name: Rebuild docs
        working-directory: packages/es-components
        run: |
          npm run styleguide-build

      - name: Publish docs to github pages
        run: |
          git checkout gh-pages
          rm -rf build/
          mv ./packages/es-components/docs/* .
          git add index.html full-color-icons.html full-color-icons.js build
          git commit -m "Deploy es-component docs to gh-pages"
          git push origin gh-pages
