name: Preproduction Release
on:
  push:
    branches:
      - pre-prod
jobs:
  test:
    name: Test with Node v${{matrix.node}}
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/pre-prod' && !contains(github.event.head_commit.message, '[skip-release]') }}
    defaults:
      run:
        working-directory: packages/es-components
    strategy:
      matrix:
        node: [lts/*, node]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}

      - name: Use Node Version
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci

      - name: Run Tests
        run: |
          npm test

  npm:
    if: ${{ github.ref == 'refs/heads/pre-prod' && !contains(github.event.head_commit.message, '[skip-release]') }}
    needs: test
    name: Publish Pre-Prod NPM Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}
          ref: pre-prod
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci

      - name: Set Commitbot Identity
        run: |
          git config user.name "ES-Components Lerna Publish Bot"
          git config user.email "es-components-bot@wtw.org"

      - name: Lerna Publish
        run: |
          echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > ~/.npmrc
          npx lerna publish --conventional-commits --changelog-preset @aabenoja/conventional-changelog-eslint-lerna --conventional-prerelease --dist-tag pre-prod --preid pre-prod --allow-branch pre-prod --yes
  docs:
    if: ${{ github.ref == 'refs/heads/pre-prod' }}
    needs: npm
    name: Publish Docs to GH Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PIPELINE_BOT_PAT }}
          ref: pre-prod
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install Dependencies
        run: |
          npm ci

      - name: Set Commitbot Identity
        run: |
          git config user.name "ES-Components Lerna Publish Bot"
          git config user.email "es-components-bot@wtw.org"

      - name: Rebuild Pre-Prod Docs
        working-directory: packages/es-components
        run: |
          nmp run styleguide-build
          npm run pre-prod-sg-build

      - name: Publish docs to github pages
        run: |
          git checkout gh-pages
          rm -rf build/
          mkdir -p pre-prod
          mv ./packages/es-components/docs/pre-prod/* ./pre-prod
          git add pre-prod
          git commit -m "Deploy es-component pre-prod docs to gh-pages"
          git push origin gh-pages
